{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block content %}
<div class="jumbotron">
<a href="{% url 'home:all' %}">Home</a>
<h1>V I P</H1>
<H4>VIEWS . ISSUES . POLLS</H4>
V I P will be a microblogging website which will allow users to share their views with the public on the ongoing debates as well as conversations among the communities formed by these individuals interested in the specific area or field of category. These communities will discuss the issues regarding their category of field as well as any individual can raise any issue and even support the issue raised by any other user. Users will be allowed to take polls regarding anything of their choice and concern and even individuals can participate in these polls for the specific time period decided by the owner of the poll.
</div>
{% endblock content %}