{% extends "base.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% block head %}
<style type="text/css">
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0,0,0,0.7); /*dim the background*/
}
</style>
{% endblock head %}

{% block content %}
<div class="jumbotron" style="margin:0">
<a href="{% url 'home:all' %}">Home</a>
{% if issue.content_type %}
<div id="overlay" class="overlay" style="text-align: center;"
   onclick="document.getElementById('overlay').style.display = 'none';" >
<img style="width:50%;margin-top: 30px; margin-right:10%; border:1px solid black;" src="{% url 'home:issue_picture' issue.id %}">
</div>
{% endif %}
<span style="float: right;">
({{ issue.updated_at|naturaltime }})
{% if issue.owner == user %}
<a href="{% url 'home:issue_update' issue.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'home:issue_delete' issue.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>#{{ issue.title }}</h1>
{% if issue.anonymous is False %}
<small style="color:green">By {{ issue.owner }}</small>
{% endif %}
{% if issue.content_type %}
<img style="float:right; max-width:30%; margin-left:3%" src="{% url 'home:issue_picture' issue.id %}"
    onclick="document.getElementById('overlay').style.display = 'block';">
{% endif %}
<p>{{issue.text}}</p>
<br/>
<h5>Total Views = {{ccount}}</h5>
</div>
{% comment %} {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} {% endcomment %}
{% comment %} {% if permission is True %}
<form action="{% url 'home:vote' issue.id %}" method="post">
{% csrf_token %}
{% for choiceins in issue.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choiceins.id }}">
    <label for="choice{{ forloop.counter }}">{{ choiceins.choice }}</label><br>
{% endfor %}

<input type="submit" value="Vote">
</form>
{% else %}
<ul>
{% for choiceins in issue.choice_set.all %}
    <li>{{ choiceins.choice }}</li><br>
{% endfor %}
</ul>
<p>YOU CANNOT VOTE</p>
{% endif %}
<small>
{% if permission is False %}
{% if issue.Required_Minimum_Age is 0 %}
{%else%}
*Minimum age required is {{issue.Required_Minimum_Age}}<br/>
{% endif %}
{% if issue.Required_City is '0' %}
{% elif issue.Required_City is 0 %}
{%else%}
*Only for residents of the City {{issue.Required_City}}<br/>
{% comment %} Permission: {{perm}}</br> {% endcomment %}
{% comment%}
{% endif %}
{% if issue.Required_Sex is "Male" %}
*Only for Males<br/>
{%elif issue.Required_Sex is "Female" %}
*Only for Females<br/>
{% endif %}
{%endif%}
</small>
<a href="{% url 'home:issue_result' issue.id %}">View Results</a>
</div> {% endcomment %}
{% comment %} <form action="{% url 'home:vote' issue.id %}" method="post">
{% csrf_token %}
<input type="radio" name="choice" id="choice1" value="1">
<label for="choice1">{{ issue.choice1 }}</label><br>
<input type="radio" name="choice" id="choice2" value="2">
<label for="choice2">{{ issue.choice2 }}</label><br>
<input type="radio" name="choice" id="choice3" value="3">
<label for="choice3">{{ issue.choice3 }}</label><br>
<input type="radio" name="choice" id="choice4" value="4">
<label for="choice4">{{ issue.choice4 }}</label><br>
<input type="submit" value="Vote">
</form> {% endcomment %}
<div class="container bg-light" style="margin:0; width:100%">
{% if user.is_authenticated %}
<br clear="all"/>
<p>
{% load crispy_forms_tags %}
<form method="post" action="{% url 'home:issue_comment_create' issue.id %}">
    {% csrf_token %}
    {{ comment_form|crispy }}
<input type="submit" value="Present">
</form>
</p>
{% endif %}
<p>
    {% for comment in comments %}
<p><span style="color:red">{% if comment.anonymous is False %}{{comment.owner}}{%else%}?{% endif %}:</span> {{ comment.text }}
({{ comment.updated_at|naturaltime }})
{% if user == comment.owner %}
<a href="{% url 'home:issue_comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</p>
{% endfor %}
</p>

</div>

{% endblock content %}