{% extends "base.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% block head %}
<style type="text/css">
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0,0,0,0.7); /*dim the background*/
}
</style>
{% endblock head %}

{% block content %}
<div class="jumbotron" style="margin:0">
<a href="{% url 'home:all' %}">Home</a>
{% if issue.content_type %}
<div id="overlay" class="overlay" style="text-align: center;"
   onclick="document.getElementById('overlay').style.display = 'none';" >
<img style="width:50%;margin-top: 30px; margin-right:10%; border:1px solid black;" src="{% url 'home:issue_picture' issue.id %}">
</div>
{% endif %}
<span style="float: right;">

{% if issue.owner == user %}
<small style="color:orange"><a href="{% url 'home:user_detail' issue.owner.username %}" style="text-decoration:none; color:orange" >By me </a>
({{ issue.updated_at|naturaltime }})</small>
<a href="{% url 'home:issue_update' issue.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'home:issue_delete' issue.id %}"><i class="fa fa-trash"></i></a>
{% elif issue.anonymous is True %}
<small style="color:red"><a href="{% url 'home:user_detail' issue.owner.username %}" style="text-decoration:none; color:red" >By ? </a>
({{ issue.updated_at|naturaltime }})</small>
{% else %}
<small style="color:green"><a href="{% url 'home:user_detail' issue.owner.username %}" style="text-decoration:none; color:green" >By {{ issue.owner.username }} </a>
({{ issue.updated_at|naturaltime }})</small>
{% endif %}
</span>
<h1>#{{ issue.title }}</h1>
{% comment %} {% if issue.anonymous is False %}
<small style="color:green"><a href="{% url 'home:user_detail' issue.owner.username %}" style="text-decoration:none; color:green" >By {{ issue.owner.username }} </a></small>
{% endif %} {% endcomment %}
{% if issue.content_type %}
<img style="float:right; max-width:30%; margin-left:3%" src="{% url 'home:issue_picture' issue.id %}"
    onclick="document.getElementById('overlay').style.display = 'block';">
{% endif %}
<p>{{issue.text}}</p>
<br/>


{% comment %} 

{% post_to_facebook issue "Post to Facebook!" %}
{% post_to_twitter "New Song: {{issue.title}}. Check it out!" issue "Post to Twitter" %}
{% post_to_gplus issue "Post to Google+!" %}
{% post_to_linkedin issue %}
{% send_email issue.title "New Song: {{issue.title}}. Check it out!" issue "Share via email" %}
{% post_to_reddit "New Song: {{issue.title}}" <issue> %}
{% post_to_telegram "New Song: {{issue.title}}" <issue> %}
{% post_to_whatsapp issue "Share via WhatsApp" %}
{% save_to_pinterest issue %} {% endcomment %}
{% comment %} {% add_pinterest_script %} 
#Required for save_to_pinterest. Add to the end of body tag. {% endcomment %}
{% load social_share %}
{% comment %} <div id="subheader" class="blog">
  <div class="subheader-text">
    <h1>Did you like this Post ?</h1>
    <h4>Consider sharing Most readers like to share our Posts </h4>
  <a href="#" rel="shared-popover" data-popover-content="#shared-btn-Popover" title="Share" data-placement="bottom" class="mtr-btn button-circle button-fab ripple"></a>
<div id="shared-btn-Popover" class="hide"> {% endcomment %}
<h4>Share on other platforms:</h4>
  <ul class="blog-share-buttons" style="list-style-type:none">
    <li>{% post_to_twitter object.title %}</li>
    <li>{% post_to_facebook object.title %}</li>
    <li>{% post_to_whatsapp object.title %}</li>
    {% comment %} <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li> {% endcomment %}
  </ul>
<h5>Total Views = {{ccount}}</h5>
</div>
{% comment %} {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} {% endcomment %}
{% comment %} {% if permission is True %}
<form action="{% url 'home:vote' issue.id %}" method="post">
{% csrf_token %}
{% for choiceins in issue.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choiceins.id }}">
    <label for="choice{{ forloop.counter }}">{{ choiceins.choice }}</label><br>
{% endfor %}

<input type="submit" value="Vote">
</form>
{% else %}
<ul>
{% for choiceins in issue.choice_set.all %}
    <li>{{ choiceins.choice }}</li><br>
{% endfor %}
</ul>
<p>YOU CANNOT VOTE</p>
{% endif %}
<small>
{% if permission is False %}
{% if issue.Required_Minimum_Age is 0 %}
{%else%}
*Minimum age required is {{issue.Required_Minimum_Age}}<br/>
{% endif %}
{% if issue.Required_City is '0' %}
{% elif issue.Required_City is 0 %}
{%else%}
*Only for residents of the City {{issue.Required_City}}<br/>
{% comment %} Permission: {{perm}}</br> {% endcomment %}
{% comment%}
{% endif %}
{% if issue.Required_Sex is "Male" %}
*Only for Males<br/>
{%elif issue.Required_Sex is "Female" %}
*Only for Females<br/>
{% endif %}
{%endif%}
</small>
<a href="{% url 'home:issue_result' issue.id %}">View Results</a>
</div> {% endcomment %}
{% comment %} <form action="{% url 'home:vote' issue.id %}" method="post">
{% csrf_token %}
<input type="radio" name="choice" id="choice1" value="1">
<label for="choice1">{{ issue.choice1 }}</label><br>
<input type="radio" name="choice" id="choice2" value="2">
<label for="choice2">{{ issue.choice2 }}</label><br>
<input type="radio" name="choice" id="choice3" value="3">
<label for="choice3">{{ issue.choice3 }}</label><br>
<input type="radio" name="choice" id="choice4" value="4">
<label for="choice4">{{ issue.choice4 }}</label><br>
<input type="submit" value="Vote">
</form> {% endcomment %}
<div class="container bg-light" style="margin:0; width:100%">
{% if user.is_authenticated %}
<br clear="all"/>
<p>
{% load crispy_forms_tags %}
<form method="post" action="{% url 'home:issue_comment_create' issue.id %}">
    {% csrf_token %}
    {{ comment_form|crispy }}
<input type="submit" value="Present">
</form>
</p>
{% endif %}
<p>
    {% for comment in comments %}
<p><span style="color:red">{% if comment.anonymous is False %}{{comment.owner}}{%else%}?{% endif %}:</span> {{ comment.text }}
({{ comment.updated_at|naturaltime }})
{% if user == comment.owner %}
<a href="{% url 'home:issue_comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</p>
{% endfor %}
</p>

</div>

{% endblock content %}